@import 'src/variables.scss';

.details-container {
  overflow: auto;
  height: 100vh;
  width: 100%;

  .spinner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
  }

  .content-container {
    margin: $spacing-lg;
    padding: $spacing-lg;
    border-radius: 6px;
    background: $colors-white;

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: $spacing-lg;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-right: $spacing-md;
      }

      .profile-name {
        .character-label {
          font-size: $fonts-size-md;
          font-weight: 600;
          color: $colors-blue-dark;
          margin-bottom: $spacing-sm;
        }

        .character-name {
          font-size: $fonts-size-xl;
          font-weight: 700;
          color: $colors-smoke-dark;
        }
      }

    }

    .details {
      display: flex;
      flex-direction: column;
    }
  }
}
