
<div ngClass="details-container">
  <app-header [canGoBack]="true" />

  <ng-template [ngIf]="character.id">
    <div ngClass="content-container">
      <div ngClass="profile">
        <img [src]="imageUrl" [alt]="character.name" />
        <div ngClass="profile-name">{{ character.name }}</div>
      </div>

      <div ngClass="details">
        <app-details-block title="Séries" [items]="series" />
        <app-details-block title="Eventos" [items]="events" />
        <app-details-block title="Histórias" [items]="stories" />
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="!character.id">
    <div ngClass="spinner-container">
      <app-spinner />
    </div>
  </ng-template>
</div>
