@import '../../../../../variables.scss';

.list-container {
  padding: $spacing-lg;
  margin-bottom: 60px;

  .titles-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: $spacing-sm;

    span {
      margin: 0;
      color: $colors-blue-dark;
      font-weight: 600;
      width: 100%;
    }

    span:nth-child(3) {
      margin-left: -20px;
    }
  }
}

.spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
}

.paginator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $colors-white;
}
