<div ngClass="card-container" (click)="onClick()">
  <div ngClass="card-block">
    <div ngClass="card-summary">
      <img ngClass="card-image" [src]="imageUrl" [alt]="character.name">
      <p ngClass="card-name">{{ character.name }}</p>
    </div>
  </div>

  <div ngClass="card-block">
    <p *ngFor="let serie of series.slice(0, 2)">{{ serie.name }}</p>
    <p *ngIf="series.length > 2" ngClass="dots">...+{{ series.length - 2 }}</p>
    <p *ngIf="!series.length">No data...</p>
  </div>

  <div ngClass="card-block">
    <p *ngFor="let story of stories.slice(0, 2)">{{ story.name }}</p>
    <p *ngIf="stories.length > 2" ngClass="dots">...+{{ stories.length - 2 }}</p>
    <p *ngIf="!stories.length">No data...</p>
  </div>

</div>
