/* Colors */
$colors-white: #FFFFFF;
$colors-smoke-light: #8E8E8E;
$colors-smoke-dark: #555555;
$colors-snow-light: #f5f5f5;
$colors-snow-dark: #e5e5e5;
$colors-blue-light: #5DAFFF;
$colors-blue-dark: #167abc;
$colors-border: #00000033;

/* Fonts */
$fonts-size-xl: 28px;
$fonts-size-lg: 18px;
$fonts-size-md: 16px;
$fonts-size-sm: 14px;
$fonts-size-xs: 12px;

/* Spacing */
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

/* Shadows */
$shadows-sm: 0px 0px 5px $colors-border;
$shadows-md: 0px 0px 7px #00000099;

